.body {
    
    margin: 0;
    padding: 0;
    background: url(background.jpg) center no-repeat;
}

* {
    font-family: "Montserrat";
}

.login_box {
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(117, 102, 157, 0.85);
    box-sizing: border-box;
    border-radius: 10px;
}

.login_box h2 {
    
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.login_box .user_box {  
    position: relative;
}

.login_box .user_box input {
    
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login_box .user_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .3s;
}

.login_box .user_box input:focus~label,
.login_box .user_box input:valid~label {
    
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.forgot_password {
    
    font-size: 12px;
    font-weight: 600;
    color: #FFC89E;
    float: right;
}

.forgot_password:hover {
    
    color: #fff;
    text-decoration: none;

}

.btn_submit {
    
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .3s;
    margin-top: 20px;
    letter-spacing: 1px;
}

.btn_submit:hover {
    
    background: #FFC89E;
    color: #fff;
    border-radius: 5px;
}










